
/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
.clear{
    clear: both;
}

/* main css */
.highlights{
  color: #00a897;
  font-size: 20px;
}


.app{
  /* width: 1200px; */
  box-sizing: border-box;
}
.cv_header{
  position: fixed;
  display:  flex;
  z-index: 2;
  width: 1200px;
  height: 72px; 
  width: 100%;
  background-color:#0cbfae;
  justify-content: space-between;
  padding: 16px;

}

.header_nav{
  display: flex;
  align-items: center;
}
#nav_home{
  background-color: #48dacb;
}
.header_logo{
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-left: 24px;
  font-weight: 800;
  color: white;

}
.header_logo:hover{
  color: rgb(92, 88, 88);
  transition: 0.4s;

}

.nav_list{
  display: flex;
  list-style: none;
  font-weight: 600;
  color: white;
  margin-right: -16px;
  margin-left: 20px;

  
}
#nav_list-icon{
  display: flex;
  line-height: 72px;
  font-size: 20px;
}
.nav_list-item{
  font-size: 24px;
  border-left: 2px solid rgba(133, 224, 231, 0.459);
  line-height: 72px;
  /* padding: 0 24px; */
  
  /* background-color: #48dacb; */
  
}
.nav_list-item:hover{
  color: rgb(92, 88, 88);
  transition: 0.4s;
}

.nav_list-item-link{
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
.cv_banner{
  position: relative;
}
.banner_img{
  width: 1200px;
  height: 50%;
  opacity: 0.2;
}
.avatar_img{
  position: absolute;
  bottom: -20px;
  left: 600px;
  width: 180px;
  height: 180px;
  border: 5px solid #bee9e4;
  border-radius: 50%;
  
}
.avatar .my_comment{
  position: absolute;
  z-index: 1;
  bottom: 120px;
  right: 240px;
  width: 340px;
  height: 80px;
  text-align: center;
  padding: 12px;
  background-color: #0cbfae;
  color: #fff;
  border-radius: 80px;
}
.slogan{
  position: absolute;
  bottom: -68px;
  left: 450px;
  width: 478px;
  height: 36px;
  /* border: 1px solid #2abeb0; */
  z-index: 1;
  font-size: 18px;
  color: #07a595;
}
.my_comment::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 30px 30px;
  border-style: solid;
  border-color: transparent transparent #0cbfae transparent;
}
.avatar .my_comment h2{
  margin-bottom: 8px;
}
.content_section{
  
  display: flex;
  justify-content: center ;

}
.cv_content{
  background-color: #f4fdfc;
}
.section_heading{
  width: 80%;
  font-size: 40px;
  font-weight: 600;
  margin-top: 64px;
  margin-bottom: 32px;
  padding-bottom: 12px;
  color: #0cbfae;
  border-bottom: 2px solid rgb(207, 207, 207);;
}
.resume_list{
  border-right: 4px solid rgb(207, 207, 207);
  padding-right: 20px;
  margin-left: 240px;
}
.resume_list-item{
  font-size: 18px;
  list-style: none;
  margin: 32px 0px 32px 40px;
  text-decoration: none;
  background-color: #0cbfae;
  padding: 12px;
  border-radius: 32px;
  color: #fff;

}

.resume_list-item:hover{

  background-color: rgba(25, 216, 172, 0.603);
  transition: 0.4s;
  cursor: pointer;

  
}
.resume_item-icon{
  margin-right: 4px;
  padding: 4px;
}
.resume_item{
  text-align: left;

}
.info{
  display: flex;
}
.resume_description{
  margin-left: 20px;
  margin-top: 32px;
  
}
.resume_description p{
  margin-bottom: 16px;
}

.des_work-history{
  display: none;
}

.skill-item{
  display: inline-block;
  
}
.skill-value{

  margin-left: 4px;
}
.des_program-skill{
  display: none;
}
.p_space{
  margin-bottom: 28px;
}
.des_other{
  display: none;
}
.obj_list{
margin-left: 292px;
}
.obj_list-item{
  margin-bottom: 16px;
}
.contact_list{
  
  margin-left: 274px;
  width: 100%;
}
.contact_list-item{
  display: flex;
  margin-bottom: 16px;
  width: 100%

}
.contact_list{
  list-style: none  ;
}
.contact-icon{
  
  width: 24px;
}
.contact-name{
  
  width: 72px
}
.contact-symbol{
  width: 16px;
}

.footer{
  display: block;
  text-align: center;
  height: 100px;
  background-color: rgba(208, 252, 255, 0.342);
  padding-top: 10px;



}
.social{

  font-size: 24px;
  color: rgb(8, 185, 168);
  font-weight: 500;



}
.footer img{
  width: 36px;
  height: 37px;
  border-radius: 50%;
 
}
.footer i{
  font-size: 36px;
  color: #097ceb;
  margin-right: 16px;
  
}
.social-icon{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#education{
  color: #000;
}

/* tablet 740<=width<1024px */
@media only screen and (min-width: 740px) and (max-width:1023px){
  .cv_header{
    height: 50px;
  }
  .header_logo{
    font-size: 24px;
    margin-left: 4px;

  }
  .nav_list{
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 69px;
    right: -24px;
    display: none;
    width: 110px;
    
  }
  .nav_list-item{
    border-left: none;
    line-height: 28px;
    border-bottom: 2px solid rgba(133, 224, 231, 0.459);
    padding-right: 12px;
    font-size: 20px;
    padding-left: 10px;
    background: #0cbfae;
    
    
  }
  .nav_list-item-link:hover{
  font-size: 21px;
  color: rgb(243, 234, 109);
  transition: 0.4s;
  
}
  .nav_list-item-link{
    
    color: rgb(29, 27, 27);
    padding: 0px;
  }
  #nav_list-icon{
  position: relative;
  display: block;
  margin-left: -58px;
  font-size: 22px;
  padding: 8px;

}
#nav_list-icon::after{
  position: absolute;
  top: 28px;
  left: -9px;
  content: "";
  /* background-color:red ; */
  height: 24px;
  width: 110px;
  
}
  .banner_img{
    width: 90%;
  }
  
  #nav_list-icon:hover{
    cursor: pointer;
    font-size: 24px;
    transition: 0.4s;
    
  }
  #nav_list-icon:hover .nav_list{
    display: block;
    transition: 44s;

  }
  .avatar_img{
    left: 320px;
  }
  .avatar .my_comment {
    position: absolute;
    z-index: 1;
    bottom: 120px;
    right: 40px;
    width: 240px;
    height: 60px;
    text-align: center;
    padding: 4px;
    background-color: #0cbfae;
    color: #fff;
    border-radius: 80px;
}
.my_comment h2 {
    font-size: 16px;
    margin-left: 4px;
    margin-top: 4px;
}
.my_comment h4{
  font-size: 14px;
}
.my_comment::after{
  border-width: 10px 16px;
}
.slogan{
  left: 150px;
  font-size: 16px;
}
.section_heading{
  font-size: 28px;
}
.resume_list{
  margin-left: 30px;
}
.resume_list-item{
  font-size: 16px;
}
.highlights{
  font-size: 18px;
}
.des-text{
  font-size: 15px;
}
.social{
  font-size: 18px;
}
.social-icon{
  margin-top: -2px;
}
.obj_list {
    margin-left: 112px;
}
.contact_list {
    margin-left: 92px;
}
.contact-icon{
  
  width: 19px;
}
.contact-name{
  
  width: 64px
}
.contact-symbol{
  width: 12px;
}
.footer{
  height: 60px;
  padding-bottom: 20px;
  margin-top: -6px;
 
}
.footer img {
    width: 26px;
    height: 27px;
}
.footer i {
    font-size: 28px;
}
}

/* smartphone width<740 */
@media only screen and (max-width: 739px) {
  .cv_header{
    width: 100%;
    height: 40px;
  }
  .header_logo{
    font-size: 16px;
    margin-left: 4px;

  }
  .nav_list{
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 64px;
    right: -24px;
    display: none;
    width: 110px;
    
  }
  .nav_list-item{
    border-left: none;
    line-height: 28px;
    border-bottom: 2px solid rgba(133, 224, 231, 0.459);
    padding-right: 12px;
    font-size: 16px;
    padding-left: 10px;
    background: #0cbfae;
    
    
  }
  .nav_list-item-link:hover{
  font-size: 18px;
  color: rgb(243, 234, 109);
  transition: 0.4s;
  
}
  .nav_list-item-link{
    
    color: rgb(29, 27, 27);
    padding: 0px;
  }
  #nav_list-icon{
  position: relative;
  display: block;
  margin-left: -48px;
  font-size: 22px;
  padding: 8px;

}
#nav_list-icon::after{
  position: absolute;
  top: 28px;
  left: -9px;
  content: "";
  /* background-color:red ; */
  height: 24px;
  width: 110px;
  
}
  .banner_img{
    width: 100%;
    
  }
  
  #nav_list-icon:hover .nav_list{
    display: block;
  }
  .avatar_img{
        width: 104px;
    height: 104px;
    left: 164px;
  }
  .avatar .my_comment {
    position: absolute;
    z-index: 1;
    bottom: 76px;
    right: 6px;
    width: 164px;
    height: 48px;
    text-align: center;
    padding: 4px;
    background-color: #0cbfae;
    color: #fff;
    border-radius: 80px;
}

.my_comment h2 {
    font-size: 12px;
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.my_comment h4{
  font-size: 11px;
}
.my_comment::after{
  border-width: 10px 12px;
}
.slogan {
    width: 334px;
    left: 40px;
    font-size: 12px;
}
.section_heading {
    margin-top: 56px;
    font-size: 18px;
    margin-bottom: 12px;
}
.resume_list{
  margin-left: 0px;
  margin-right: -12px;
  padding-right: 8px;
}
.resume_list-item {
    width: 114px;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.resume_item-icon{
  margin-left: -8px;
  margin-right: -4px;
}
.resume_description p {
    margin-bottom: 30px;
    margin-top: -18px;
}
.highlights{
  font-size: 14px;
}
.des-text{
  font-size: 13px;
}
#objective,#contact{
  margin-top: 12px;
}

.social{
  font-size: 16px;
}
.social-icon{
  margin-top: 0px;
}
.obj_list {
    margin-left: 56px;
}
.contact_list {
    margin-left: 40px;
}
.contact-icon{
  
  width: 18px;
}
.contact-name{
  
  width: 54px
}
.contact-symbol{
  width: 12px;
}
.contact-info{
  width: 260px;
}
.footer {
    height: 50px;
    padding-bottom: 50px;
    margin-top: -10px;
}
.footer {
  height: 60px;
}
.footer img {
    width: 20px;
    height: 21px;
}
.footer i {
    font-size: 22px;
}
.social{
  margin-bottom: 6px;
} 
.social-icon{
  padding-bottom: -10px;
}
}
