
/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}

/* main css */
.highlights{
  color: #00a897;
  font-size: 20px;
}
#active{
  color: #000;
}

.app{
  width: 1200px;
  box-sizing: border-box;
}
.cv_header{
  position: fixed;
  display:  flex;
  z-index: 1;
  width: 100%;
  height: 72px; 
  width: 100%;
  background-color: #0cbfae;
  justify-content: space-between;
  padding: 16px;
  color: white;

}
.header_nav{
  display: flex;
  align-items: center;
}
.header_logo{
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-left: 24px;
  font-weight: 800;
}
.header_logo:hover{
  color: rgb(92, 88, 88);
  transition: 0.4s;

}

.nav_list{
  display: flex;
  list-style: none;
  font-weight: 600;
  
}
.nav_list-item{
  font-size: 24px;
  margin-right: 32px;
}
.nav_list-item-link:hover{
  color: rgb(92, 88, 88);
  transition: 0.4s;
}
.nav_list-item-active{
  color: #000;
}
.nav_list-item-link{
  text-decoration: none;
  color: #fff;
}
.cv_banner{
  position: relative;
}
.banner_img{
  width: 100%;
  height: 50%;
  opacity: 0.2;
}
.avatar_img{
  position: absolute;
  bottom: -20px;
  left: 600px;
  width: 180px;
  height: 180px;
  border: 5px solid #bee9e4;
  border-radius: 50%;
  
}
.avatar .my_comment{
  position: absolute;
  z-index: 1;
  bottom: 120px;
  right: 240px;
  width: 340px;
  height: 80px;
  text-align: center;
  padding: 12px;
  background-color: #0cbfae;
  color: #fff;
  border-radius: 80px;
}
.my_comment::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 30px 30px;
  border-style: solid;
  border-color: transparent transparent #0cbfae transparent;
}
.avatar .my_comment h2{
  margin-bottom: 8px;
}
.content_section{
  display: flex;
  justify-content: center ;

}
.cv_content{
  background-color: #f4fdfc;
}
.section_heading{
  width: 80%;
  font-size: 40px;
  font-weight: 600;
  margin-top: 64px;
  margin-bottom: 32px;
  padding-bottom: 12px;
  color: #0cbfae;
  border-bottom: 2px solid rgb(207, 207, 207);;
}
.resume_list{
  border-right: 4px solid rgb(207, 207, 207);
  padding-right: 20px;
  margin-left: 240px;
}
.resume_list-item{
  font-size: 18px;
  list-style: none;
  margin: 32px 0px 32px 40px;
  text-decoration: none;
  background-color: #0cbfae;
  padding: 12px;
  border-radius: 32px;
  color: #fff;

}

.resume_list-item:hover{

  background-color: rgba(25, 216, 172, 0.603);
  transition: 0.4s;
  cursor: pointer;

  
}
.resume_item-icon{
  margin-right: 4px;
  padding: 4px;
}
.resume_item{
  text-align: left;

}
.info{
  display: flex;
}
.resume_description{
  margin-left: 20px;
  margin-top: 32px;
  
}
.resume_description p{
  margin-bottom: 16px;
}

.des_work-history{
  display: none;
}

.skill-item{
  display: inline-block;
  
}
.skill-value{

  margin-left: 4px;
}
.des_program-skill{
  display: none;
}
.p_space{
  margin-bottom: 28px;
}
.des_other{
  display: none;
}
.obj_list{
margin-left: 292px;
}
.obj_list-item{
  margin-bottom: 16px;
}
.contact_list{
  margin-left: 274px;
}
.contact_list-item{
  margin-bottom: 16px;

}
.contact_list{
  list-style: none  ;
}
.footer{
  text-align: center;
  height: 100px;
  background-color: rgba(208, 252, 255, 0.342);
  padding-top: 10px;



}
.social{

  font-size: 24px;
  color: rgb(8, 185, 168);
  font-weight: 500;



}
.footer img{
  width: 36px;
  height: 37px;
  border-radius: 50%;
 
}
.footer i{
  font-size: 36px;
  color: #097ceb;
  margin-right: 16px;
  
}
.social-icon{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
#education{
  color: #000;
}